.header {
  background-color: var(--main-color);
  position: fixed; /*?Position sirve para quee el elemento no se mueva de un determinado lugar*/
  width: 100%; /*?Ocupa el 100% del contenedor*/
  top: 0; /*sube*/
  left: 0;
  /*bottom: 0;
  right:0;*/
}

.navegacion {
  display: flex; /*?Distribute de manera horizontal o vertical*/
  flex-direction: row; /*En fila*/
  justify-content: space-between;
  align-items: center; /*?Respeta el tamaño que tiene y lo pone segun su espacio*/
}

.logo {
  display: flex; /*?cuando se quiere distrubuir elementos que tienen un padre de manera Hori o Vert*/
  align-items: center; /* centrar a lo vertical*/
  font-weight: bold;
  color: var(--text-color);
  margin-left: 5px;
}

.logo img{
  border-radius: 8%; 
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  /*? Se va directamente a la etiqueta*/
  padding: 0 10px; /*?arriba y abajo , separacion */
}

.menu a {
  /*? Se va directamente a la etiqueta*/
  color: var(--text-color);
  line-height: 50px; /*?la altura de la linea (interlineado)*/
}

/*? media querys*/
/*?En dipositivos de 0 a 760px se aplcian estilos*/
@media (max-width: 760px) {
  .navegacion {
    flex-direction: column; /*En fila*/
  }

  .menu {
    flex-direction: column;
  }

  main{
    margin-top: 350px;
  }
}
